/* reset */
*  {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* document */
body {
    font-size: 1rem;
    font-family: "URW Gothic L", "Helvetica", "Arial", sans-serif;
    margin: 5px 10px 5px 10px;
    counter-reset: section;
}


/* headings */
h2 {
    font-size: 2.3rem;
    margin: 10px 5px 5px 0px;
}

h3::before {
    counter-increment: section;
    content: counter(section) " ";
}

h3 {
    font-size: 1.5rem;
    border-bottom: 2px black solid;
    margin-bottom: 0.8rem;
    margin-top: 1rem;
}

header {
    background: rgb(0, 96, 160);
    height: 75px;
    color: white;
    margin-bottom: 55px;
}

header * {
    display: inline-block;
}

header img {
    padding: 5px 5px 5px 5px;
}

header h1 {
    vertical-align: top;
    margin-top: 15px;
    font-size: 3em;
}

/* images */
figure {
    float: left;
    max-width: 30%;
}

#calculatorImage {
    max-width: 60%;
}

figcaption {
    font-size: 0.9rem;
    color: grey;
    display: block;
}

iframe {
    width: calc(55vw - 2rem);
    height: calc(56.25vw - 2rem);
    border: none;
}

/* text */
p {
    margin-bottom: 1rem;
}

.change {
    font-style: italic;
    padding: 0.3rem;
    border: thin dashed;
    margin-top: 1rem;
}

.change > time {
    float: right;
}

figcaption > a {
    color: black;
}

small{
    padding-top: 1rem;
}

/* lists */

nav {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(0, 96, 160);
    background-color: whitesmoke;
    margin: 5px 5px 0px -5px;
    padding: 5px 5px 5px 5px;
}

a:hover {
    text-decoration: none;
}

#navList {
    list-style-type: none;
}

#navList ul {
    padding-left: 15px;
    list-style-type: none;
}

a[hreflang="it"]::before {
    background-image: url('../../media/flag-fr.svg');
    background-size: 16px 12px;
    display: inline-block;
    width: 16px;
    height: 12px;
    content: "";
    margin: 0px 3px 0px 0px;
}

a[hreflang="fr"]::before {
    background-image: url('../../media/flag-it.svg');
    background-size: 16px 12px;
    display: inline-block;
    width: 16px;
    height: 12px;
    content:"";
    margin: 0px 3px 0px 0px;
}

a[hreflang="en"]::before {
    background-image: url('../../media/flag-en.svg');
    background-size: 16px 12px;
    display: inline-block;
    width: 16px;
    height: 12px;
    content:"";
    margin: 0px 3px 0px 0px;
}


/* table */



/* forms */



#font-size-form {
    float: right;
}
#font-size-form > label, #font-size-form > input, #font-size-form > output {
    display: inline-block;
    vertical-align: middle;
    padding: 0; margin: 0;
}