/* reset */
*  {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

textarea, select, input, button { outline: none; }

/* document */
body {
    font-size: 1rem;
    font-family: "URW Gothic L", "Helvetica", "Arial", sans-serif;
    counter-reset: section;
}

main{
    margin: 5px 10px 5px 10px;
}

#pageFooter {
    width: 100%;
    line-height: 2rem;
    margin-top: 2rem;
    background-color: rgb(0, 96, 160);
    color: white;
}

#pageFooter a {
    color: white;
}

#pageFooter img {
    width: 6rem;
    height: 2rem;
}

/* headings */
h2 {
    font-size: 2.3rem;
    margin: 10px 5px 5px 0px;
}

h3::before {
    counter-increment: section;
    content: counter(section) " ";
}

h3 {
    font-size: 1.5rem;
    border-bottom: 2px black solid;
    margin-bottom: 0.8rem;
    margin-top: 1rem;
}

#pageHeader {
    background: rgb(0, 96, 160);
    height: 75px;
    color: white;
    margin-bottom: 55px;
}

#pageHeader * {
    display: inline-block;
}

#pageHeader img {
    padding: 5px 5px 5px 5px;
}

#pageHeader h1 {
    vertical-align: top;
    margin-top: 15px;
    font-size: 3em;
}

/* images */

video, object {
    width: 70%;
    height: auto;
}

figure > iframe {
    width: 100%;
    height: calc(56.25vw - 2rem);
}

figure {
    padding-bottom: 1rem;
}

figcaption {
    font-size: 0.9rem;
    color: grey;
    display: block;
}

#taschenrechner > figure {
    float: left;
    max-width: 30%;
}

#calculatorImage {
    max-width: 100%;
    padding-right: 1rem;
}

#demonstration > figure > iframe{
    width: calc(50vw - 4rem);
}

#zeitgewinn-graf {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

/* text */
p {
    margin-bottom: 1rem;
}

.change {
    font-style: italic;
    padding: 0.3rem;
    border: thin dashed;
    margin-top: 1rem;
}

.change > time {
    float: right;
}

figcaption {
    color: gray;
}

figcaption > a, small > a {
    color: black;
}

article > small{
    padding-top: 1rem;
}

/* lists */

nav {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(0, 96, 160);
    background-color: whitesmoke;
    margin: 5px 5px 0px 5px;
    padding: 5px 5px 5px 5px;
}

a:hover, a:active {
    text-decoration: none;
}

#navList {
    list-style-type: none;
}

#navList ul {
    padding-left: 15px;
    list-style-type: none;
}

a[hreflang="it"]::before {
    background-image: url('../../media/flag-fr.svg');
    background-size: 16px 12px;
    display: inline-block;
    width: 16px;
    height: 12px;
    content: "";
    margin: 0px 3px 0px 0px;
}

a[hreflang="fr"]::before {
    background-image: url('../../media/flag-it.svg');
    background-size: 16px 12px;
    display: inline-block;
    width: 16px;
    height: 12px;
    content:"";
    margin: 0px 3px 0px 0px;
}

a[hreflang="en"]::before {
    background-image: url('../../media/flag-en.svg');
    background-size: 16px 12px;
    display: inline-block;
    width: 16px;
    height: 12px;
    content:"";
    margin: 0px 3px 0px 0px;
}

dl{
    padding-bottom: 0.5rem;
}

dt {
    font-weight: bold;
    color: rgb(0, 96, 160);
}

dd {
    margin-left: 1rem;
}

dd::before {
    content: "⌖ ";
}

ol {
    margin-left: 1.5rem;
}

/* table */

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

tr, table > caption {
    line-height: 2.5rem;
}

thead{
    background-color: rgb(0, 96, 160);
    color: white;
    border-top: solid black;
    border-bottom: solid black;
}

tbody th {
    text-align: left;
}


tr:nth-child(2n) {
    background-color: lightsteelblue;
    border-top: 1px solid steelblue;
    border-bottom: 1px solid steelblue;
}
/* forms */
label {
    color: gray;
    display: block;
}


fieldset {
    color: gray;
    box-shadow: none;
    border-radius: 0.25rem;
    padding: 0.4rem;
    margin-bottom: 0.5rem;
}

input[type=text], input[type=email], input[type=url], input[type=search], select, textarea {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
    background-color: #f2f2f2;
}

input[type=search] {
    width: 20%;
}

input[type=file]{
    width: 100%;
    font-size: 1rem;
}

input:focus, textarea:focus{
    color: rgb(0, 96, 160);
    border-bottom: 2px solid rgb(0, 96, 160);
}

textarea {
    resize: none;
    height: 12rem;
}

input[type=radio], input[type=checkbox]{
    margin: 1rem 0;

}

input:required:focus:invalid{
    border-color: red;
}

#autor select{
    border: 1px solid grey;
}

button {
    font-size: 1rem;
    padding:  0.5rem 1rem;
    border: none;
    color: white;
    background-color: rgb(0, 96, 160);
    border-radius: 0.3rem;
}

button:hover{
    color: lightgray;
}

button:active{
    -webkit-box-shadow: inset 1px 1px 10px #333;
    -moz-box-shadow:    inset 1px 1px 10px #333;
    box-shadow:         inset 1px 1px 10px #333;
}

.search-button::before {
    background-image: url("../../media/icon-search.svg");
    background-size: 1rem 1rem;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    content: "";
}

#font-size-form {
    float: right;
}
#font-size-form > label, #font-size-form > input, #font-size-form > output {
    display: inline-block;
    vertical-align: middle;
    padding: 0; margin: 0;
}