/* reset */
*  {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* document */
body {
    font-size: 1rem;
    font-family: "URW Gothic L", "Helvetica", "Arial", sans-serif;
    counter-reset: section;
}


/* headings */
h1 {
    color: white;
    background: rgb(0, 96, 160);
    padding: 1rem;
    margin: -1rem -1rem 1rem -1rem;
    counter-reset: section;
}

h2 {
    font-size: 2.5rem;
    margin: 10px 5px 5px 10px;
}

h3::before {
    counter-increment: section;
    content: counter(section) " ";
}

h3 {
    font-size: 2rem;
    border-bottom: 2px black solid;
    margin-bottom: 5px;
}

/* images */



/* text */



/* lists */

nav {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(0, 96, 160);
    background-color: whitesmoke;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
}

#navList {
    list-style-type: none;
}

#navList ul {
    padding-left: 15px;
    list-style-type: none;
}

a[hreflang="it"]::before {
    background-image: url('../media/flag-fr.svg');
    background-size: 16px 12px;
    display: inline-block;
    width: 16px;
    height: 12px;
    content: "";
}

a[hreflang="fr"]::before {
    background-image: url('../media/flag-it.svg');
    background-size: 16px 12px;
    display: inline-block;
    width: 16px;
    height: 12px;
    content:"";
}

a[hreflang="en"]::before {
    background-image: url('../media/flag-en.svg');
    background-size: 16px 12px;
    display: inline-block;
    width: 16px;
    height: 12px;
    content:"";
}


/* table */



/* forms */



#font-size-form {
    float: right;
}
#font-size-form > label, #font-size-form > input, #font-size-form > output {
    display: inline-block;
    vertical-align: middle;
    padding: 0; margin: 0;
}
